<div class= container>
  <form ng-submit="createPatient()">
    <input type="text" placeholder="first name" label="First Name" ng-model="patient.first_name">
    <input type="text" placeholder="Last name" label="Last Name" ng-model="patient.last_name">
    <input type="text" placeholder="gender" label="Gender" ng-model="patient.gender">
    <input type="text" placeholder="email" label="Email" ng-model="patient.email">
    <input type="text" placeholder="street_address" label="Street Address" ng-model="patient.street_address">
    <input type="text" placeholder="state" label="State" ng-model="patient.state">
    <input type="text" placeholder="Drug" label="Drug" ng-model="patient.drug">
    <input type="submit" label="Add Record">
  </form>
  <div>
