
<div ng-controller="patientsCtrl">
	<table st-table="patients" class="table table-striped">
	<thead id="theadr">
		<tr>
			<th>ID&nbsp;</th>
			<th st-sort="first_name">First Name&nbsp;</th>
			<th>Last Name&nbsp;</th>
			<th>Gender&nbsp;</th>
			<th>State&nbsp;</th>
			<th>Drugs&nbsp;</th>
			<th>Actions</th></tr></thead>
	<tbody>
		<tr  ng-repeat="patient in patients">
			<td>{{ patient.id }}</td>
			<td>{{ patient.first_name }}</td>
			<td>{{patient.last_name}}</td>
			<td>{{patient.gender}}</td>
			<td>{{patient.state}}</td>
			<td id="drug">{{patient.drug}}</td>
	    <td>
				<button id="delb" ng-click="deletePatient(patient)" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-trash" id="trash"></span>
			  </button>
				<a href="#/Update/{{patient.id}}">| Edit |</a>
				<a href="#/Details/{{patient.id}}">Details</a>
			</td>
	</tbody>
	</table>
</div>
